<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IZIPAY</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/journal/bootstrap.min.css"
        integrity="sha384-QDSPDoVOoSWz2ypaRUidLmLYl4RyoBWI44iA5agn6jHegBxZkNqgm2eHb6yZ5bYs" crossorigin="anonymous" />
    </script>
    <style>
        .bg-form {
            border-radius: 7px;
            background: #ffffff;
            padding: 1%;
            margin-top: 2%;
            box-shadow: inset 10px 10px 20px #e8e8e8,
            inset -10px -10px 20px #ffffff;
        }
    </style>
</head>
<body style="background-color: #FF2D46;">
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a href="/" class="navbar-brand"></a>
    </nav> -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a href="/" class="navbar-brand mb-1"><img src="https://iziweb001b.s3.amazonaws.com/webresources/img/logo.png" width="80" alt=""></a>
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            <!-- <div class="collapse navbar-collapse" id="navbarColor01"> -->
            <div id="navbarColor01">
                    <!-- <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                    </ul> -->
            </div>
        </div>
    </nav>